* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container p{
    font-size: 3rem;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
    overflow:hidden;
    text-align: center;
    font-weight: bold;
}
.container p span.typed-text{
    font-weight: normal;
    color:orange ;
}
.container p span.cursor{
    display: inline-block;
    background-color:#cccccc ;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}
.container p span.cursor.typing{
    animation: none;
}
